 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hey I'm Becca, a dancer who is expanding her skill set to include front end web development. Coding caters to my obessive nature, attention to detail, and the need to get things done right.  I've learned an incredible amount about coding by taking courses online and countless hours on Google. While structured courses have helped me build a base to grow from, the most valuable approach has been building and hacking away at projects and comps.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm looking for a junior developer position where I can hit the ground running and learn from a knowledgeable/ approachable Senior staff. With a industry that's always evolving, I'm very interested in expanding my knowledge and skills as a web developer. I really love working on a team where everyone feels like family and pride myself on my ability to be a key contributor to that team.  <p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Resumelink.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <!--<i class="fa fa-download"></i>--> Checkout My Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
