 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I moved to Chicago when I was 22 to persue a professional dance career. While taking classes and auditioning, I needed income so I saw a large restaurant opening and decided to try my hand at being a hostess. Never working in the industry before, I quickly got a raise and began to get noticed for my hard work. I got asked to be a marketing ambassador and to help resprent the company at many outside events. </p>
                </div>
                <div class="col-lg-4">
                    <p>Even though my first love is still dance, web development has found it's way into my heart. Coding caters to my obessive nature to detail and getting things done right. It also gives me an excuse to have "alone" time. Dance provides that balance of being in the limelight and expressing my creativity in a more atheletic manner, which you need after sitting in front for hours. Both are very structured but have enormous room for creavity and being yourself.  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <!--<i class="fa fa-download"></i>--> Checkout My Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
